# windows release build: mingw64 g++ from MSYS2 (currently 9.1.1) on Windows Server 2012 R2
image:
  - Visual Studio 2015
install:
  - cd ..
  - set PATH=C:\msys64\usr\bin;%PATH%
  # download muparser & gmp as static libraries
  - appveyor DownloadFile "https://github.com/lkeegan/libsbml-static/releases/latest/download/libsbml-static-windows.zip"
  - 7z x libsbml-static-windows.zip
  - mv muparser C:\msys64\home\appveyor\.
  - mv gmp C:\msys64\home\appveyor\.

build_script:
  - cd ..
  - cp dune-copasi\.ci\build.sh C:\msys64\home\appveyor\.
  - bash -l build.sh